<!DOCTYPE HTML>
<html lang='en'>
 <head>
 <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
 <meta charset='utf-8' />
 <title>Finder</title>
 <script src='../jQuery.js'></script>
 <script src='../jQueryUI.js'></script>
 <script src='javascript1.js'></script>
 <link href='style.css' rel='stylesheet' />
 </head>
 <body>
 <div id='finderFiles'>
 <div class='finderDirectory' data-path='/Applications'>
 <div class='finderIcon'></div>
 <div class='finderDirectoryName'>
 <span>Applications</span>
 </div>
 </div>
 <div class='finderDirectory' data-path='/Library'>
 <div class='finderIcon'></div>
 <div class='finderDirectoryName'>
 <span>Library</span>
 </div>
 </div>
 <div class='finderDirectory' data-path='/Network'>
 <div class='finderIcon'></div>
 <div class='finderDirectoryName'>
 <span>Network</span>
 </div>
 </div>
 <div class='finderDirectory' data-path='/Sites'>
 <div class='finderIcon'></div>
 <div class='finderDirectoryName'>
 <span>Sites</span>
</div>
</div>
<div class='finderDirectory' data-path='/System'>
<div class='finderIcon'></div>
<div class='finderDirectoryName'>
<span>System</span>
</div>
</div>
<div class='finderDirectory' data-path='/Users'>
<div class='finderIcon'></div>
<div class='finderDirectoryName'>
<span>Users</span>
</div>
</div>
</div>
</body>
</html>